src/*.o
src/tests/*.o
src/*.exe
src/scanner
src/test_table
src/*.txt
src/prec
src/bu
src/test_code_gen
src/test_scanner
interpreter/*.txt
src/tests/test_out/*.out
.vscode
src/tests/test_out/*
bin/compiler
src/googletest/*
rnd_tests/*
src/googletest/*
src/compiler
bin/compiler
src/test_first_traverse

